@model MSCLShopping.Models.CustomerManagement
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




@using (Html.BeginForm("Details", "CustomerManagement", FormMethod.Post, new { @id = "form1" }))
{
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Customer Details</h4>
            <div class="row ">

                <div class="col-md-3">
                    <div class="form-group">
                        <b>CustomerName :</b>
                        @Html.DisplayFor(m => m.CustomerName)
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <b>Contact :</b>
                        @Html.DisplayFor(m => m.Mobile)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Order No.</b>
                        @Html.DisplayFor(m => m.OrderNO)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Order Date :</b>
                        @Html.DisplayFor(m => m.OrderDate)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Total Amount:</b>
                        @Html.DisplayFor(m => m.TotalAmount)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Customer Order Details</h4>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="example23" class="table">
                            <thead>
                                <tr>
                                    <th hidden>PK_GalleryID</th>
                                    <th>S No.</th>
                                    <th>SubCategory</th>
                                    <th>Product</th>
                                    <th>Size</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>Redeem Price</th>
                                    <th>Delivery Charge</th>
                                    <th>Final Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.List != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.List)
                                        {
                                            <tr class="text-left">
                                                <td hidden>@Item.OrderID</td>
                                                <td>@i</td>
                                                <td>@Item.Result</td>
                                                <td>@Item.ProductName</td>
                                                <td>@Item.SizeName</td>
                                                <td>@Item.UnitName</td>
                                                <td>@Item.Quantity</td>
                                                <td>@Item.Rate</td>
                                                <td>@Item.TotalAmount</td>
                                                <td>@Item.RedeemPrice</td>
                                                <td>@Item.DeliveryCharge</td>
                                                <td>@Item.FinalAmount</td>
                                                <td>
                                                    @if (Item.OrderStatus == "Placed")
                                                    {
                                                        <p class="badge badge-primary">@Item.OrderStatus</p>
                                                    }
                                                    else if (Item.OrderStatus == "Shipped")
                                                    {
                                                        <p class="badge badge-warning">@Item.OrderStatus</p>
                                                    }
                                                    else if (Item.OrderStatus == "Dispatched")
                                                    {
                                                        <p class="badge badge-success">@Item.OrderStatus</p>
                                                    }
                                                    else if(Item.OrderStatus == "Cancelled")
                                                    {
                                                        <p class="badge badge-danger">@Item.OrderStatus</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="badge badge-info">@Item.OrderStatus</p>
                                                    }


                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="../../AdminCSS/js/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
        minDate: new Date(new Date().setMonth(new Date().getMonth() - 2))
    });

</script>
