@model MSCLShopping.Models.CustomerManagement

@{
    ViewBag.Title = "OrderReport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../../images/cart-loading.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("OrderReport", "CustomerManagement", FormMethod.Post, new { @id = "form1" }))
{
   @Html.HiddenFor(m => m.OrderDetailsID)
    <div class="page-header">
        <div>
            <h1 class="page-title">Order Report</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Customer</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order Report</li>
            </ol>
        </div>
        @*<div class="ms-auto pageheader-btn">
                <a href="#" class="btn btn-primary btn-icon text-white me-2">
                    <span>
                        <i class="fe fe-plus"></i>
                    </span> Add Account
                </a>
                <a href="#" class="btn btn-success btn-icon text-white">
                    <span>
                        <i class="fe fe-log-in"></i>
                    </span> Export
                </a>
            </div>*@
    </div>
    <div class="row">
        <div class="card">
            <div>
                <p style="color:red">
                    @if (TempData["OrderReport"] != null)
                    {
                    <div class="@TempData["Class"]">
                        @TempData["OrderReport"]
                    </div>
                    }
                </p>
            </div>
            <div class="card-body">
                @*<ul class="nav nav-pills nav-pills-success mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/CustomerManagement/UpdateOrderStatus">Order Packed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Ship Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CustomerManagement/DeliverOrder">Deliver Order</a>
                    </li>
                </ul>*@
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Order No</label>
                            @Html.TextBoxFor(m => m.OrderNO, new { @class = "form-control", @placeholder = "Order No" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Customer Name</label>
                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @placeholder = "Customer Name" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Product Name</label>
                            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @placeholder = "Product Name" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">From Date</label>
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">To Date</label>
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label d-lg-block d-none">&nbsp;</label>
                            @*<a href="/CustomerManagement/OrderDetails?no=OrderNO" class="btn btn-primary btn-sm">View</a>*@
                            <input class="btn btn-info d-block" type="submit" value="Search" id="btnSearch" name="Search" />
                        </div>
                    </div>
                </div>

                @if (Model.CustomerName != null)
                {
                    <div class="table-responsive mt-3">
                        <table id="data-table" class="table table-bordered text-nowrap mb-0">
                            <thead class="border-top">
                                <tr>
                                    <th hidden>PK_GalleryID</th>
                                    @* <th><input type="checkbox" id="select-all" /></th>*@
                                    <th>S No.</th>
                                    <th>Customer Name</th>
                                    <th>Contact</th>
                                    <th>Address</th>
                                    <th>Payment Mode</th>
                                    <th>Product</th>
                                    <th>Size</th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>Order Date</th>
                                    <th>OrderStatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.List != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.List)
                                        {
                                            <tr class="text-left">
                                                <td hidden>@Item.OrderDetailsID</td>
                                                @*<td>
                                                    <input type="checkbox" id="Chk_ @i" name="Chk_ @i" />

                                                    <input type='hidden' value='@Item.OrderDetailsID' id='orderdetailid_ @i' name='orderdetailid_ @i'>
                                                    <input type='hidden' value='@Item.OrderStatus' id='orderstatus_ @i' name='orderstatus_ @i'>
                                                </td>*@

                                                <td>@i</td>
                                                <td>@Item.CustomerName</td>
                                                <td>@Item.Mobile</td>
                                                <td>@Item.Address</td>
                                                <td>@Item.PaymentMode</td>
                                                <td>@Item.ProductName</td>
                                                <td>@Item.SizeName</td>
                                                <td>@Item.UnitName</td>
                                                <td>@Item.Quantity</td>
                                                <td>@Item.Rate</td>
                                                <td>@Item.TotalAmount</td>
                                                <td>@Item.OrderDate</td>
                                                <td>@Item.OrderStatus</td>
                                            </tr>
                                            i++;
                                        }
                                        <input type='hidden' value='@i' id='hdrows' name='hdrows' />
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        @* <div class="col-md-4">
                            <div class="form-group">
                                Order Status  <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.OrderStatus, new SelectList(ViewBag.ddlOrderStatus, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>*@
                        @*<div class="col-md-4">
                             <div class="form-group">
                                 <br />
                                 <input class="btn btn-success pull-left" type="submit" value="Update Status" id="btnGet" name="Update" onclick="return validateSave();" />
                             </div>
                         </div>*@
                    </div>
                }

            </div>
        </div>
    </div>



}

<script src="../../AdminCSS/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });

    });
    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });

    function validateSave() {
        $("#divload").css({ 'display': '' });

        if (($("input[name*='Chk_']:checked").length) <= 0) {
            alert("You must check at least 1 box");
            $("#divload").css({ 'display': 'none' });
            return false;

        }
        $("#divload").css({ 'display': '' });
        return true;
    }
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        //changeYear: true,
        //changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        //changeYear: true,
        //changeMonth: true,
        minDate: new Date(new Date().setMonth(new Date().getMonth() - 2))
    });

</script>